.log1{
width: 240px;

}

.sal{
    margin-left: 50px;
}
.navBar{
    display: flex;
}
   
.navBar>ul{
    display: flex;
   list-style: none ;
align-items: center;
color: aliceblue;
}
.navBar>ul>li{

margin-left: 190px;
text-align: center;
font-size: 30px;


}
.navBar>ul>li>a{
    text-decoration: none;
    color: black;
}

.navBar>ul>li>:hover{
    color: rgb(0, 255, 42);
}

.navBar2{
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-left: 590px;
}

/*    هسا هون رح ابلش بلصقحة من تحت */

.main{
    display: flex;
    align-items: center;
}
.write1{
    margin-left: 160px;
    font-size: 90px;
}
.write2{
    margin-left: 160px;
    font-size: 30px;

}
.write3{
    margin-left: 160px;
    font-size: 40px;
    border-radius: 40px;
}
.button1{
    font-size: 30px;
    color: white;
    background-color:rgb(0, 255, 42);
    border-radius: 660px;
    border: 290px;
}
.button2{
    font-size: 30px;
    border: 280px;
    background-color: white;

}
.imgGreen{
   z-index: 0;
   
}

  
.imgGreen>img{
    margin-left:470px;
    width: 550px;
    height: 690px;
    top:60px ;
    border: 100px;
    border-radius: 6000px;
}
.offer{
    margin-left: 600px;
    font-size: ;
    background-color: 
}
.greenScreen{
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background-color:rgb(0, 255, 42) ;
    font-size: 100px;
    margin-left: 400px;
    z-index: -1;
   top:0px;
}
.rightmain{
    position: relative;
}

.imgfood{
    background-color: white;
    border-radius: 160px;
    border:px solid black;
  display: flex;
    padding: 10px;
    margin-left:300px;
}

.colerstar{
    color: yellow;
}
.imgeat1{
    width: 150px;
    height: 150px;
    margin-left: 900px;
}

.imgeat2{
    width: 150px;
    height: 150px;
margin-left: 2px;
}
/* رح نبلش بلقسم الثاني من الصفحة */


.one{
    color: rgb(139, 0, 0);
    font-size: 30px;
    margin-left: 900px;
}
.too{
    font-size: 100px;
 margin-left: 700px;
}

.threepags{

    display: grid;
    grid-template-columns: auto auto auto;
  
margin-left: 100px;
background-color: aqua;
border-radius: 1000px;


}
.threepagsitem>ones{
    margin-left: 900px; 
}
.center{
   margin-left: 90px;
} 

/*(3) رح نبلش بلرسمات يلي كثير هسا  */
.write0{
    color:rgb(139, 0, 0) ;
    margin-left: 80px;
    font-size:20px;
}
.write01{
    margin-left: 80px;
    
    font-size: 50px;
}
.share{
    display: flex;
    align-items: center;
}
.share1>i{
    margin-left: 1300px;
    color:;
    font-size: 30px;
    border-radius: 40px;
   background-color: beige;
   width: 60px;
   height: 40px;
   text-align: center;
}
.share2{
    margin-left: 80px;

    color:white;
    font-size: 30px;
     background-color: rgb(0, 255, 42);
     border-radius:800px;
     border: 900px;
     width: 60px;
     height: 40px;
     text-align: center;}


/* بلشت بصور الشسف هسا */

/*.chiffood1{
    display: flex;
}


.chiffood{
    background-color: white;
    width: 600px;
    height: 700px;

}

.chif>chiffood{
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background-color:rgb(0, 255, 42) ;
    font-size: 100px;
    margin-left: 400px;
    z-index: -1;
   top:0px;
}*/



.writerchif{
    margin-left: 900px;
}